
.dropdown-menu.notify-drop {
    min-width: 330px;
    background-color: #fff;
    min-height:auto;
    padding: 0px;
    border-radius: 0;
}

.drop-content {
    min-height: 52px;
    max-height: 200px;
    overflow-y: auto;
    padding-top: 7px;
}

.notification-heading {
    padding:5px 10px;
    color: black;
    background-color: white;
    border-bottom: 1px solid #ccc;
}
.notification-footer  {
    color: black;
    background-color: white;
    border-top: 1px solid #ccc;
    width: 100%;
    height: 30.4px;
    display: flex;
}

#notification .menu-title {
    color:black;
    font-size:18px;
    display:inline-block;
    margin-bottom: 0px;
    margin-top: 0px;
    font-size: inherit;
    font-weight: inherit;
}

#notification .item-title {
    font-size: inherit;
    font-weight: inherit;
    color:#000;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 205px;
}

#notification .notification-action {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 68px;
    padding-right: 10px;

}

#notification .item-info {
    font-size: inherit;
    font-weight: inherit;
    margin-top:-10px;
    margin-bottom:-5px;
}

.notifications-wrapper {
    overflow:auto;
    max-height:250px;
}




#notification .card{
    margin: 0;
    border:0;
}


#notification .dropdown-divider {
    margin-left:10px;
    border-top: 1px solid #e9ecef;
}
.card-notification-item:hover {
    background-color: #ccc;
}
#notification .menu-title-footer {
    color:black;
    font-size:18px;
    display:inline-block;
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: inherit;
    font-weight: inherit;
}

/* .notification-footer a {
    padding: 0px !important;
} */

#notification .card-box{
    padding-top: 6px;
}

#notification .position-absolute.top-0.start-100.translate-middle.badge {
    margin-left: -16px;
}

#notification span {
    top: 7px !important;
}

#notification .fa-bell {
    padding-top: 7px;
}

